.navbar{
    background-color: lightblue;
    width: 100vw;
    height: 20vh;
}

.section{
    background-color: lightcoral;
    width: 100vw;
    height: 30vh;
    margin-top: 2em;
}

.footer{
    background-color: lightgreen;
    width: 100vw;
    max-height: 30vh;
    margin-top: 2em;
}

.box-left{
    display: flex;
    width: 50%;
    height: 100%;
}

.box{
    width: 45%;
    height: 80%;
    background-color: lightgreen;
    margin:5% 5%;
}