.Parent{
    background-color: lightcoral;
    font-size: 30px;
    position: relative;
    height: 200vh;
}

.c1{
    background-color: aqua;
    position: sticky;
    top: 0;
}

.c2{
    background-color: lightpink;
}
.c3{
    background-color: lightgrey;
}

.child{
    width: 90%;
    margin-left: 3rem;
}
