body{
    background-color: yellow;
}

.box{
    display: flex;
}
.item{
    background-color: green;
    width: 50px;
    text-align: center;
    padding: 15px;
    border: 2px solid black;
    margin: 10px;
}