.NavBar{
    background-color: lightsalmon;
    height: 5rem;
    width: 100vw;
    display: flex;
}

ul{
    display: flex;
    font-size: 2rem;
}

li{
    margin-right: 3rem;
}

.Banner{
    width: 100vw;
    height: 30vh;
    background-color: lightblue;
    text-align: center;
}
.Text{
    width: 100vw;
    height: 20vh;
    background-color: lightcoral;
    text-align: center;
}